*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0b0f14;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    color:#8fa3bf;
    line-height: 1.6;
}

main{
    display: grid;
    max-width: 1200px;
    grid-template-columns:350px 1fr ;
    gap:40px;
    padding-top: 50px;
    margin: auto;
}

aside{
    padding: 40px;
    height: 90vh;
    background-color: #10161d;
    border: 1px solid #1f2a36;
    border-radius: 16px;
    position: sticky;
    top:40px;
}

.main-content{
    background-color: #10161d;
    border: 1px solid #1f2a36;
    border-radius: 16px;
    padding: 40px;
}

.profile{
    text-align: center;
}

.profile img{
    border-radius: 50%;
    height: 120px;
    width: 120px;
    border: 2px solid #00ffe1;
}

.profile h2{
    color:#e6f1ff;
}

.profile p{
    background-color: #0b0f14;
    padding: 5px 15px;
    color: #00ffe1;
    border:1px solid #1f2a36;
    font-size: 0.8rem;
    border-radius: 8px;
    display:inline-block;
    margin-top: 10px;
}

.contact{
    margin-top: 30px;
    border-top: 2px solid #1f2a36;
    padding-top: 20px;
}

.label{
    font-weight: 500;
    font-size: 0.8rem ;
    color:#8fa3bf ;
}

.value{
    text-decoration: none;
    color:#e6f1ff;
}

.email,.phone{
    margin-bottom: 15px;
}

.social{
    margin-top: 30px;
    border-top: 2px solid #1f2a36;
    padding-top: 20px;
    text-align: center;
}

.social a {
    text-decoration: none;
    color:#8fa3bf;       
    font-size: 24px;
    transition: color 0.3s ease;
}

.social a:hover,
.value:hover{
    color:#00ffe1;
}

#navigation{
    border-bottom: 2px solid #1f2a36;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

nav{
    display: flex;
    justify-content: flex-end;
    gap:40px;
}

nav a{
    text-decoration: none;
    color: #8fa3bf;
    font-weight: 500;
    transition: color 0.3s ease;
}

.active,
nav a:hover{
    color:#00ffe1;
}

.heading{
    color:#e6f1ff;
    font-size: 2rem;
    margin-bottom: 15px;
    text-shadow: 0 0 8px rgba(0,255,225,0.6);
}

.line{
    width:60px;
    height:5px;
    background-color: #ff2e88;
    margin-bottom: 20px;
}

.content{
    color:#8fa3bf;
    text-align: justify;
}

#about{
    margin-bottom:40px;
}

.gridcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    gap:40px;
}

.item{
    padding: 20px;
    border-radius: 10px;
    border:2px solid #1f2a36;
    background-color: #0b0f14;
    text-align: center;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}

.item h3{
    font-size: 15px;
    font-weight: 500;
    color:#e6f1ff;
}

.item i{
   font-size: 48px;
   color: #00ffe1;
}

.item:hover{
    transform:scale(1.1);
    box-shadow: 0px 0px 15px #00ffe1;
}

#edu{
    margin-top: 30px;
}

.year{
    font-size: 0.9rem;
    color:#8fa3bf;
}

.degree{
    color:#e6f1ff;
    font-size: 1.2rem;
    font-weight: 500;
}

.college{
    font-style: italic;
    color:#8fa3bf;
}

.work{
    color:#8fa3bf;
}

.edu1,.edu2{
    margin-bottom: 30px;
    padding-left: 25px;
    position: relative;
}

.goal{
    height:15px;
    width: 15px;
    border:4px solid #ff2e88;
    border-radius:50%;
    position:absolute;
    top:2px;
    left:0px;
    z-index: 5;
}

.liner{
    position: absolute;
    width: 2px;
    top:0px;
    bottom: 0px;
    left:6px;
    border:2px solid #1f2a36;
}

.projectcont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    margin-top: 30px;
}

.project{
    background-color: #0b0f14;
    border-radius: 12px;
    border: 2px solid #1f2a36;
    overflow: hidden;
    transition: transform 0.3s ease,box-shadow 0.5s ease;
}

.project:hover{
    transform: translateY(-10px);
    box-shadow:0px 0px 20px rgba(0,255,225,0.4);
}

.project img{
    height:180px ;
    width:100%;
    object-fit: cover;
}

.card{
    padding:20px;
}

.card h3{
    color:#e6f1ff;
    margin-bottom: 10px;
}

.card p{
    color:#8fa3bf;
    line-height: 1.6;
    margin-bottom: 15px;
}

span{
    background-color: rgba(0,255,225,0.1);
    color:#00ffe1;
    padding:4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;
}

@media screen and (max-width: 600px){
    main{
        grid-template-columns: 1fr;
        padding: 16px;
        width: 100%;
    }

    aside{
        width: 100%;
        height: auto;
        padding: 20px;
        position: static;
    }

    .main-content{
        padding: 20px;
    }

    .projectcont{
        grid-template-columns: 1fr;
    }

    nav{
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:1200px){
    main{
        grid-template-columns: 1fr;
        padding:20px;
    }

    aside{
        height: auto;
        position:static;
    }
}
